
.woo h2{
    color: #EA1C2C;
    font-size: 2.5rem;
    font-weight: 100;
}
.woo p{
    color: #f498b8;
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 2;
}

#mainnav{
    background-color: #D0DEF4;
   
}
#mainnav .navbar-brand{
    /* color: #EA1C2C;    */
    font-size: 1.5rem;
    font-weight: 100;
   
}
.cont{
    margin-top: 100px;
    margin-bottom: 100px;
}
#mainnav .nav-link{
    color: #0047BA;
}
#mainnav .nav-link:hover{
    color: blue; 
}

#mainnav {
    font-size: 1.5rem;
    font-weight: 100;
}
#dudu span{
    color: #EA1C2C
}
#dudu h1{
    font-weight: 100;
}

@media (max-width: 1200px) {
    #dudu h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}; 

    @media screen and (min-width: 480px) {
        .newrow {
          width: 100;
        }
        .firstfields {
          margin-top: 10px;
          margin-left: 5px;
        }
        .drop2 {
          padding: 6px;
          padding-right: 3em;
          border: none;
          color: black;
          width: 85%;
        }
        .fields {
          border: 1px #A9A9A9 solid;
          width: 200px;
          margin: 1em;
          height: 75px;
          color: #A9A9A9;
          font-size: 11px;
        }
        input[type=text] {
          width: 65%;
          margin: 8px 0;
          box-sizing: border-box;
          border: 3px solid #fff;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          outline: none;
        }
        input[type=email] {
          width: 65%;
          margin: 8px 0;
          box-sizing: border-box;
          border: 3px solid #fff;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          outline: none;
        }
        input[type=email]:focus {
          border: 3px solid #fff;
        }
        .drop {
          width: 160px;
        }
        .drop select:focus {
          box-shadow: 0 0 3pt 2pt #fff!important;
        }
        .drop1 {
          width: 85%;
          padding: 6px;
          padding-right: 6em;
          border: none;
          color: black;
        }
        input[type=text]:focus {
          border: 3px solid #fff;
        }
        .newpagebody {
          background-size: auto;
        }
      }